*{
    margin: 0;
    padding: 0;
}



.phone h2{
    color: #F32C6D;
}

.phone .dog{
    border-right: 1px solid black;
}

.phone .vay{
    background: rgb(19, 19, 255);
}

.phone .hay{
    border-radius: 20px;
    border: 2px solid black;
}

/* yakudzaaaaaa */

.section-20 .container .row .xop-5 {
    background-color: white;
    padding: 30px 50px;
   }